<div class="container">
  <div class="login-form">
  <div class="main-div">
      <div class="panel">
     <h2>Login Into Car Rental Application</h2>
     <p>Please enter your email and password</p>
     </div>
      <form id="Login" (ngSubmit)="onSignIn(f)" #f="ngForm">

          <div class="form-group">


              <input type="email" class="form-control" name ="email" ngModel id="email" placeholder="Email Address">

          </div>

          <div class="form-group">

              <input type="password" class="form-control" id="password" ngModel name="password" placeholder="Password">

          </div>
          <div class="forgot">
          <a href="reset.html">Forgot password?</a>
  </div>
          <button type="submit" class="btn btn-primary">Login</button>

      </form>
      </div>
  </div>
</div>
