<app-navbar></app-navbar>
<div class="jumbotron text-center">
  <h1>Way better than a rental car</h1>
  <p>Book unforgettable cars from local hosts around the world</p>
  <a class="btn btn-default btn-blue" [routerLink]="['/cars']" >Rent a car</a>
  <a class="btn btn-default btn-red" [routerLink]="['/listCar']">List a car</a>
</div>ng
<div class="container-fluid">
    <div class="row body-2">
      <h1>Skip the rental counter</h1>
      <div class="col-sm-6">
        <h4>THE CAR YOU WANT</h4>
        <p>
            Choose from over 800 unique makes and models,

        </p>
        <p>
            from affordable daily drivers to rare specialty cars.
        </p>
      </div>
      <div class="col-sm-6 ">
        <h4>WHERE YOU WANT IT</h4>
        <p>Pick up the car or get it delivered, </p>
        <p>wherever you need it, up to 35% less than traditional agencies.</p>
      </div>
      <a class="btn btn-default btn-lg btn-body-2">Book a perfect car</a>
    </div>
</div>
<div class="container-fluid text-center bg-grey body-4">
    <h2>We are present in</h2>
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../../assets/images/boston.jpg" alt="boston">
          <p><strong>Boston</strong></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../../assets/images/newyork.jpg" alt="New York">
          <p><strong>New York</strong></p>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../../assets/images/sanfransisco.jpg" alt="San Francisco">
          <p><strong>San Francisco</strong></p>
        </div>
      </div>
  </div>
<div class="container-fluid body-3 bg-white">
    <div class="row content-shrink">
      <h1>The Car that pays for itself</h1>
      <p>Make a dent in your monthly car payments — on average, Turo hosts can cover their payments by sharing their cars just nine days per month</p>
      <p>As a host, you’re covered by $1 million in liability insurance and your car is protected against physical damage. Or bring your own commercial rental insurance and take a bigger piece of the pie.</p>
      <a class="btn btn-default btn-lg btn-body-3">List you car</a>
    </div>
</div>


<footer class="page-footer font-small indigo">


    <div class="container text-center text-md-left">


      <div class="row">


        <div class="col-md-4 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Top Cities</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Boston</a>
            </li>
            <li>
              <a href="#!">Newyork</a>
            </li>
            <li>
              <a href="#!">Chicago</a>
            </li>
            <li>
              <a href="#!">San Francisco</a>
            </li>
          </ul>

        </div>

        <div class="col-md-4 mx-auto">

          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Learn More</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">How Car Rental Works</a>
            </li>
            <li>
              <a href="#!">Policies</a>
            </li>
            <li>
              <a href="#!">Traveler FAQs</a>
            </li>
          </ul>

        </div>
        <div class="col-md-4 mx-auto">

          <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Talk to us</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Contact Us</a>
            </li>
            <li class="social-icons">
              <a href="#!"><fa name="facebook-square"></fa></a>
              <a href="#!"><fa name="twitter-square "></fa></a>
              <a href="#!"><fa name="instagram"></fa></a>
            </li>
          </ul>

        </div>

      </div>


    </div>


  </footer>



