<div class="jumbotron">
  <div class="featured">
    <div class="row">
      <!--To display Content on the Home Page Wallaper-->
        <div class="col-md-9">
          <h1>Way Better than a Rental Car</h1>
          <p>Book Car from local hosts around the world</p>
          <p>
              <a class="btn btn-default">Rent a Car</a>
              <a class="btn btn-default">List a Car</a>
          </p>
        </div>

    </div>
  </div>
</div>
<div class="container-fluid">
    <div class="row body-2">
      <h1>Skip the rental counter</h1>
      <div class="col-sm-6">
        <h4>THE CAR YOU WANT</h4>
        <p>
            Choose from over 800 unique makes and models,

        </p>
        <p>
            from affordable daily drivers to rare specialty cars.
        </p>
      </div>
      <div class="col-sm-6">
        <h4>WHERE YOU WANT IT</h4>
        <p>Pick up the car or get it delivered, </p>
        <p>wherever you need it, up to 35% less than traditional agencies.</p>
      </div>
      <a class="btn btn-default btn-lg btn-body-2">Book a perfect car</a>
    </div>
</div>
<div class="container-fluid">
    <div class="row body-3">
      <h1>The Car that pays for itself</h1>
      <p>Make a dent in your monthly car payments — on average, Turo hosts can cover their payments by sharing their cars just nine days per month</p>
      <p>As a host, you’re covered by $1 million in liability insurance and your car is protected against physical damage. Or bring your own commercial rental insurance and take a bigger piece of the pie.</p>
      <a class="btn btn-default btn-lg btn-body-2">List you car</a>
    </div>
</div>
