
<div class="container ">

<div class="container ">

<div class="jumbotron  " >
  <div id="carousel" class="carousel slide" data-ride="carousel">
    <!-- Menu -->
    <ol class="carousel-indicators">
        <li data-target="#carousel" data-slide-to="0" class="active"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!-- Items -->
    <div class="carousel-inner">

        <div class="item active">
            <img src="assets/images/car2.png" alt="Slide 1" />
        </div>
        <div class="item">
            <img src="assets/images/car10.png" alt="Slide 2" />
        </div>
        <div class="item">
            <img src="assets/images/car12.png" alt="Slide 3" />
        </div>
    </div>
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

</div>
</div>

<div class="container">
  <div class="row">

    <div class="col-sm-8">
      <br>
      <p class="carDescription"> THE CAR</p>
      <span><span class="carLabel names"><b> MAZDA MX-5 MIATA </b></span>
        <span class="desc-f20-B names" ><b>2006</b></span>
      </span>
      <fa name="stroopwafel" ></fa>
      <p class="carDescription">Title description, Dec 7, 2017</p>
      <div class="padding-right">
          <i class="stroopwafel"></i>
          <span class="padding-right"> <span class="glyphicon glyphicon-oil"></span> <span class="carDescription"> &nbsp;&nbsp; 24 MPG</span></span>

          <span class="padding-right"> <span class="glyphicon glyphicon-oil"></span> <span class="carDescription">  &nbsp;&nbsp;Gas(Premium)</span></span>
      </div>
      <div class="padding-right">
          <span class="padding-right"> <span class="glyphicon glyphicon-compressed"></span> <span class="carDescription">&nbsp;&nbsp; 2 Doors</span></span>

          <span class="padding-right"> <span class="glyphicon glyphicon-bed"></span> <span class="carDescription">&nbsp;&nbsp; 2 Seats</span></span>
      </div>

      <hr class="half-rule"/>

      <div class="">
      <p class="carDescription">DESCRIPTION</p>
      <p class="carDescription">Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
    </div>
    <hr class="half-rule"/>

  <div>
      <p class="carDescription">FEATURES</p>
      <p> Features ::::::::: Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
    </div>
    <hr class="half-rule"/>
    <div>
        <p class="carDescription">PARKING DETAILS</p>
        <p> Parking details will come here ::::::::: Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      </div>
      <hr class="half-rule"/>
      <div>
          <p class="carDescription">GUIDELINES</p>
          <p> GUIDELINES ::::::::: Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
        </div>
        <hr class="half-rule"/>
    </div>
    <div class="col-sm-4">
      <br>
      <span>
          <span class="price-style">$</span>
      <span class="price-style"> <b>50</b></span>
      <span class="currency-style" >per day</span>
      </span>
      <hr class="half-rule"/>
      <div class="">
      <div>
          <div class="bookingDetailsHeading" > <label for="" >Trip Start </label> </div>
          <span class="bookingDetailsHeading">
          <input class="form-control dateStyle" type="date" value="2011-08-19" id="example-date-input">
          <input class="form-control timeStyle" type="time" value="13:45:00" id="example-time-input">
        </span>
        </div>
        <div class="bookingDetailsHeading" > <label for="" >Trip End</label> </div>
        <span class="bookingDetailsHeading">
        <input class="form-control dateStyle" type="date" value="2011-08-19" id="example-date-input">
        <input class="form-control timeStyle" type="time" value="13:45:00" id="example-time-input">
      </span>
      <div>
        <br>
          <button type="button" class="btn btn-primary btn-warning  btn-block">Proceed to Checkout</button>

      </div>
    </div>
      <hr class="half-rule"/>
      <div>
        <h5>Map::::</h5>
      </div>
      <hr class="half-rule"/>
      <p class="carDescription">DISTANCE INCLUDED</p>
      <div class="reservationDetails">
        <div><b>Day</b></div>
        <div><b>150 mi</b></div>
      </div>
      <div class="reservationDetails">
        <div><b>Week</b></div>
        <div> <b>750 mi </b></div>
      </div>
      <div class="reservationDetails">
        <div><b>Month</b></div>
        <div><b>1500 mi</b></div>
      </div>
      <hr class="half-rule"/>
      <div class="ownerDetails">

          <div>
             <div><p class="carDescription">OWNED BY</p> </div> <br>
             <div> <p class="carDescription names"> <b>Mr. Acharya </b></p>  </div>
          </div>
          <div class="ownerImg"> <img src="https://d1zgdcrdir5wgt.cloudfront.net/media/driver/gqvKGqN4SPSZIH5JnKp2Eg.80x80.jpg" alt=""></div>
        </div>
      <!-- <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
      <h3>Some Links</h3>
      <p>Lorem ipsum dolor sit ame.</p>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#">Link 1</a></li>
        <li><a href="#">Link 2</a></li>
        <li><a href="#">Link 3</a></li>
      </ul>
      <hr class="hidden-sm hidden-md hidden-lg"> -->
    </div>
  </div>
</div>
</div>
