<app-navbar></app-navbar>
<div class="container header">
    <form class="form-inline" (ngSubmit)="onSubmit(f)" #f="ngForm">
      <h1>Search by Date</h1>
        <div class="form-group">
            <label for="inputPassword2" class="sr-only">Where</label>
            <input type="where" class="form-control" id="" placeholder="Place" name="place"[(ngModel)]="filterStringplace">
        </div>
        <div class="form-group">
            <label for="inputPassword2" class="sr-only">From</label>
            <input class="form-control" type="datetime-local" value="2011-08-19 10:00:00" ngModel id="from" name="from">

        </div>
        <div class="form-group">
            <label for="inputPassword2" class="sr-only">Until</label>
            <input class="form-control" type="datetime-local" value="2011-08-19 10:00:00" ngModel id="until" name="until">
          </div>
          <button type="submit" class="btn btn-primary mb-2">Search</button>
          <hr>
          <h1>More Filters</h1>
           <div class="form-group">
            <label for="Filter" class="sr-only">Filter</label>
            <input class="form-control" type="text" value="" id=""name="filter"[(ngModel)]="filterString" placeholder="Enter Filter Value">
          </div>
          <select class="form-control" [(ngModel)]='selcetedValue' name="selectFilter">
              <option [value]="filter"  *ngFor="let  filter of filters">{{filter}}</option>
          </select>
          <br>
          <br>
          <div class="jumbtron ">
            <div class="row">
              <div class="col-xs-1 col-md-5">
                <h4>Price Filter</h4>
                <npn-slider [min]="10" [max]="200" (onChange)="onSliderChange($event)"></npn-slider>
              </div>

            </div>

          </div>


      </form>
</div>
<div class="container">
      <div class="row">
        <a class=" col-sm-3 card" [routerLink]="['/cars',car._id]" *ngFor="let car of cars | filter:filterString:selcetedValue|money:currentValues[1]|place:filterStringplace">
          <div class="card-header">
              <img class="card-img-top" [src]="car.carImagePath" alt="Card image cap">
              <span class="badge badge-light">${{car.carPrice}}/<span class="small">day</span></span>
          </div>
          <div class="card-body">
            <h2 class="card-title">{{car.carName}}<span class="year small" id="year">{{car.carYear}}</span></h2>
            <div class="stars"><p>{{car.carTrips}} trips</p></div>
          </div>
        </a>
    </div>
</div>



