<script src="https://cdn.auth0.com/js/lock/11.6.1/lock.min.js"></script>
<script type="text/javascript">
  function login() {
    var lock = new Auth0LockPasswordless('xB90uHzHCSevcqbVhpeFvskd7y75G5EX', 'car-rental.auth0.com', {
        allowedConnections: ['email'],             // Should match the SMS or email connection name
        auth: {
          redirectUrl: 'http://localhost:4200/callback',
          responseType: 'code'
        }
      });
    lock.show();
  };
</script>
<a href="javascript:login()">send login code</a>
