<app-navbar></app-navbar>

    <div class="container">
        <div *ngIf="listBookings.length!==0;else other_content">
            <div class="panel panel-primary" *ngFor = "let book of listBookings">
                <div class="panel-heading">
                  <h3 class="panel-title"><a [routerLink]="['/booking-confirm',book.id]">{{'Booking ID is '+book.id}}</a></h3>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div  class="col-md-4">
                      <p>{{'Booking Car Name:-'+book.carName}}</p>
                      <p>{{'Booking Car Name:-'+book.booking_startTime}}</p>
                      <p>{{'Booking End Time:-'+book.booking_endTime}}</p>
                      <p>{{'Booking Date:-'+book.bookingDate}}</p>
                      <p>{{'Booking status:-' + book.status}}</p>
                      <p></p>
                      <!-- <ngb-rating  [readonly]="readonly" [(rate)]="rating" class="starRate"></ngb-rating> -->
                      <ngb-rating [(rate)]="selected" (hover)="hovered=$event" (click)="onClick($event)" (leave)="hovered=0" [readonly]="readonly"  [max]=5></ngb-rating>
                        {{selected}}
                    </div>
                    <div class="col-md-8">
                      <img class="img-thumbnail pull-right"[src] = book.carImagePath width="100" height="100">
                      <button class="btn btn-primary" (click)="cancelBooking(book.id)" *ngIf="time > book.ISODate">Cancel</button>
                    </div>

                  </div>
                </div>
              </div>
        </div>

        <ng-template #other_content>
            <ngb-alert type="danger">
               Hey you dont any bookings
          </ngb-alert>

        </ng-template>

    </div>

